.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

ul,li {
    padding: 0;
    margin: 0;
    list-style: none    ;
}

*,
::before,
::after {
    border-width: 0;
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}