.filter-none {
    filter: none;
}

.brightness-0 {
    filter: brightness(0);
}

.brightness-50 {
    filter: brightness(0.5);
}

.brightness-75 {
    filter: brightness(0.75);
}

.brightness-90 {
    filter: brightness(0.9);
}

.brightness-100 {
    filter: brightness(1);
}

.brightness-110 {
    filter: brightness(1.1);
}

.brightness-125 {
    filter: brightness(1.25);
}

.brightness-150 {
    filter: brightness(1.5);
}

.brightness-200 {
    filter: brightness(2);
}

/*
    Blur
 */

.blur-none {
    filter: ;
}

.blur-sm {
    filter: blur(4px);
}

.blur {
    filter: blur(8px);
}

.blur-md {
    filter: blur(12px);
}

.blur-lg {
    filter: blur(16px);
}

.blur-xl {
    filter: blur(24px);
}

.blur-2xl {
    filter: blur(40px);
}

.blur-3xl {
    filter: blur(64px);
}

/*
    Backdrop blur
 */

.backdrop-blur-none {
    backdrop-filter: ;
}

.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}

.backdrop-blur {
    backdrop-filter: blur(8px);
}

.backdrop-blur-md {
    backdrop-filter: blur(12px);
}

.backdrop-blur-lg {
    backdrop-filter: blur(16px);
}

.backdrop-blur-xl {
    backdrop-filter: blur(24px);
}

.backdrop-blur-2xl {
    backdrop-filter: blur(40px);
}

.backdrop-blur-3xl {
    backdrop-filter: blur(64px);
}

/*
    Grayscale
 */

.grayscale-0 {
    filter: grayscale(0);
}

.grayscale {
    filter: grayscale(100%);
}
