.cursor-pointer {
    cursor: pointer;
}

.cursor-col-resize {
    cursor: col-resize;
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

.appearance-none {
    appearance: none;
}

.appearance-auto {
    appearance: auto;
}