.font-sans {
    font-family: sans-serif, "Segoe UI";
}

.font-serif {
    font-family: serif, "Droid Serif";
}

.font-mono {
    font-family: monospace, "Courier New";
}

.font-semibold {
    font-weight: 600;
}

.text-base {
    font-size: 16px;
}

.text-xl {
    font-size: 20px;
}