.dwui-bg-primary-50 {
    background-color: var(--dwui-primary-50);
}

.dwui-bg-primary-100 {
    background-color: var(--dwui-primary-100);
}

.dwui-bg-primary-200 {
    background-color: var(--dwui-primary-200);
}

.dwui-bg-primary-300 {
    background-color: var(--dwui-primary-300);
}

.dwui-bg-primary-400 {
    background-color: var(--dwui-primary-400);
}

.dwui-bg-primary-500 {
    background-color: var(--dwui-primary-500);
}

.dwui-bg-primary-600 {
    background-color: var(--dwui-primary-600);
}

.dwui-bg-primary-700 {
    background-color: var(--dwui-primary-700);
}

.dwui-bg-primary-800 {
    background-color: var(--dwui-primary-800);
}

.dwui-bg-primary-900 {
    background-color: var(--dwui-primary-900);
}

.dwui-bg-primary-950 {
    background-color: var(--dwui-primary-950);
}

.dwui-text-on-primary-50 {
    color: var(--dwui-text-on-primary-50);
}

.dwui-text-on-primary-100 {
    color: var(--dwui-text-on-primary-100);
}

.dwui-text-on-primary-200 {
    color: var(--dwui-text-on-primary-200);
}

.dwui-text-on-primary-300 {
    color: var(--dwui-text-on-primary-300);
}

.dwui-text-on-primary-400 {
    color: var(--dwui-text-on-primary-400);
}

.dwui-text-on-primary-500 {
    color: var(--dwui-text-on-primary-500);
}

.dwui-text-on-primary-600 {
    color: var(--dwui-text-on-primary-600);
}

.dwui-text-on-primary-700 {
    color: var(--dwui-text-on-primary-700);
}

.dwui-text-on-primary-800 {
    color: var(--dwui-text-on-primary-800);
}

.dwui-text-on-primary-900 {
    color: var(--dwui-text-on-primary-900);
}

.dwui-text-on-primary-950 {
    color: var(--dwui-text-on-primary-950);
}

.dwui-bg-void-50 {
    background-color: var(--dwui-void-50);
}

.dwui-bg-void-100 {
    background-color: var(--dwui-void-100);
}

.dwui-bg-void-200 {
    background-color: var(--dwui-void-200);
}

.dwui-bg-void-300 {
    background-color: var(--dwui-void-300);
}

.dwui-bg-void-400 {
    background-color: var(--dwui-void-400);
}

.dwui-bg-void-500 {
    background-color: var(--dwui-void-500);
}

.dwui-bg-void-600 {
    background-color: var(--dwui-void-600);
}

.dwui-bg-void-700 {
    background-color: var(--dwui-void-700);
}

.dwui-bg-void-800 {
    background-color: var(--dwui-void-800);
}

.dwui-bg-void-900 {
    background-color: var(--dwui-void-900);
}

.dwui-bg-void-950 {
    background-color: var(--dwui-void-950);
}

.dwui-bg-error-50 {
    background-color: var(--dwui-error-50);
}

.dwui-bg-error-100 {
    background-color: var(--dwui-error-100);
}

.dwui-bg-error-200 {
    background-color: var(--dwui-error-200);
}

.dwui-bg-error-300 {
    background-color: var(--dwui-error-300);
}

.dwui-bg-error-400 {
    background-color: var(--dwui-error-400);
}

.dwui-bg-error-500 {
    background-color: var(--dwui-error-500);
}

.dwui-bg-error-600 {
    background-color: var(--dwui-error-600);
}

.dwui-bg-error-700 {
    background-color: var(--dwui-error-700);
}

.dwui-bg-error-800 {
    background-color: var(--dwui-error-800);
}

.dwui-bg-error-900 {
    background-color: var(--dwui-error-900);
}

.dwui-bg-error-950 {
    background-color: var(--dwui-error-950);
}